In [60]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [61]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [62]:
print("No.of movies listed =",titles["title"].count())

No.of movies listed = 244914

### What are the earliest two films listed in the titles dataframe?

In [63]:
titles.nsmallest(2,['year'])

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [64]:
titles1=titles.set_index("title")
titles1.loc['Hamlet'].count()

year    20
dtype: int64

### How many movies are titled "North by Northwest"?

In [65]:
titles1 = titles.set_index("title")
print("No.of movies named North by NorthWest are :",titles1.loc["North by Northwest"].count())

No.of movies named North by NorthWest are : 1

### When was the first movie titled "Hamlet" made?

In [66]:
titles1 = titles.set_index("title")
print("First movie titles Hamlet is in the year :",titles1.loc['Hamlet'].min())

First movie titles Hamlet is in the year : year    1910
dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [67]:
titles1 = titles.set_index("title")
titles1 = titles1.loc["Treasure Island"]
titles1.sort_values(by=['year'],inplace=True)
print(titles1)

                 year
title
Treasure Island  1918
Treasure Island  1920
Treasure Island  1934
Treasure Island  1950
Treasure Island  1972
Treasure Island  1973
Treasure Island  1985
Treasure Island  1999

### How many movies were made in the year 1950?

In [68]:
titles1 = titles.set_index("year")
titles1 = titles1.loc[1950]
print("No.of movies in the year 1950:",titles1.count())

No.of movies in the year 1950: title    1113
dtype: int64

### How many movies were made in the year 1960?

In [69]:
titles1 = titles.set_index("year")
titles1 = titles1.loc[1960]
print("No.of movies in the year 1960:",titles1.count())

No.of movies in the year 1960: title    1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [70]:
li = [1950,1951,1952,1953,1954,1955,1956,1957,1958,1959]
titles1 = titles.set_index('year')
count = 0
for i in li:
    count += titles1.loc[i].count()
print(count)

title    12934
dtype: int64

### In what years has a movie titled "Batman" been released?

In [71]:
titles1 = titles.set_index('title')
titles1 = titles1.loc['Batman']
res = titles1.set_index('year')
res

Empty DataFrame
Columns: []
Index: [1943, 1989]

### How many roles were there in the movie "Inception"?

In [72]:
cast = pd.read_csv('cast.csv')

In [73]:
res = cast[cast['title'] == 'Inception']
res = len(res['character'].unique())
res

56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [74]:
df = cast.set_index('title')
df=df.loc['Inception']

In [75]:
df['n'].isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [76]:
df['n'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [77]:
df = cast.set_index('title')
d=df.loc['North by Northwest']
df =df.sort_values(by ='n',ascending=False)
df

,year,name,type,character,n
title,,,,,
Tribulation,2000,Marium Carvell,actress,Selma Davis,33613.0
Rift,2011,Brittany Alexis Phillips,actress,Erica,999.0
Rift,2011,Catherine Fitzlanders,actress,Matty,999.0
Freer,2017,Roque (III) Santos,actor,Candy Seller,999.0
Rift,2011,Leon Fazzio,actor,Henry,999.0
Lloyd,2001,Lisa Calvillo,actress,Spaghetti Spectator,938.0
Ramasakkani Rakumarudu,2016,Srikanth Yellapragada,actor,Himself,911.0
Rogue,2002,Frank Montella,actor,Pyotr Yeftushenko,910.0
Ramasakkani Rakumarudu,2016,Gurunadh Desu,actor,Guru,811.0
Ye hua xiang,1959,Hsiang Kao,actress,Shang San Ku,788.0
Ramasakkani Rakumarudu,2016,Koteshwar Avvari,actor,Shankara Sastry,711.0
7 cajas,2012,Melissa Aguilera,actress,Extra,701.0
7 cajas,2012,Montserrat Marti,actress,Extra,700.0
7 cajas,2012,Jazmin M?ndez,actress,Extra,699.0
7 cajas,2012,Luj?n Santacruz,actress,Extra,698.0
7 cajas,2012,Ram?n (III) ?lvarez,actor,Extra,697.0
7 cajas,2012,Fabrizzio Nappa,actor,Extra,696.0
7 cajas,2012,Ver?nica Acosta,actress,Extra,695.0
7 cajas,2012,Federico Paredes,actor,Extra,694.0
7 cajas,2012,Mar?a Cielo Paredes,actress,Extra,693.0
7 cajas,2012,?lvaro Paredes,actor,Extra,692.0
7 cajas,2012,Vanessa Silguero,actor,Extra,691.0
7 cajas,2012,Raquel Roche,actress,Extra,690.0
7 cajas,2012,Daniel (VIII) Espinoza,actor,Extra,689.0
7 cajas,2012,Cindy S?nchez,actress,Extra,688.0
7 cajas,2012,Anita Acosta,actress,Extra,687.0
7 cajas,2012,Claudia Barreto,actress,Extra,686.0
7 cajas,2012,Liz Morales,actress,Extra,685.0
7 cajas,2012,Lourdes (VI) Torres,actress,Extra,684.0
7 cajas,2012,Samantha (II) Acosta,actress,Extra,683.0
...,...,...,...,...,...
Urban Guerillas,2004,Ilke ?ner,actress,Danger,NaN
Nereden Nereye,2017,?zge ?nl?tezcan,actress,Cansu Unlu,NaN
Candan sevmeli,1985,Ayseg?l ?nsal,actress,Sermin,NaN
Karilar Kogusu,1990,Ayseg?l (II) ?nsal,actress,Sefika,NaN
Kolay para,2002,Tuba ?nsal,actress,Sanem,NaN
Vizontele Tuuba,2003,Tuba ?nsal,actress,Tuuba,NaN
6th NAFCA Annual Show,2017,Preity ?pala,actress,Herself - Presenter,NaN
Bhaag Milkha Bhaag,2013,Preity ?pala,actress,Journalist (2013),NaN
From Sydney with Love,2012,Preity ?pala,actress,Shruti (2012),NaN
Orange,2010,Preity ?pala,actress,Usha (2010),NaN
Sex and the City 2,2010,Preity ?pala,actress,Shopper,NaN
Singh Is Kinng,2008,Preity ?pala,actress,Puja (2008),NaN
Thalaivaa,2013,Preity ?pala,actress,Pooja (2013),NaN
The Sky Has Fallen,2009,Preity ?pala,actress,Skylar,NaN
Virsa,2010,Preity ?pala,actress,Prema,NaN
K (II),2015,?rchaihu,actress,Castle Inn Singer 2,NaN
Dondurmam Gaymak,2005,T?nay ?rper,actress,Seller,NaN
Halam Geldi,2013,Nesrin ?stkanat,actress,Melek,NaN
Musallat,2007,Serap ?st?n,actress,Zeynep,NaN
Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN
Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [78]:
df = cast.set_index('title')
df = df.loc['Sleuth']
df = df.set_index('year')
df = df.loc[1972]
df = df.sort_values(by ='n')
df

                    name     type                   character    n
year
1972    Laurence Olivier    actor                 Andrew Wyke  1.0
1972       Michael Caine    actor                 Milo Tindle  2.0
1972      Alec Cawthorne    actor           Inspector Doppler  3.0
1972  John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
1972  Eve (III) Channing  actress             Marguerite Wyke  5.0
1972        Teddy Martin    actor      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [79]:
df = cast.set_index('title').loc['Sleuth']
df = df.set_index('year').loc[2007].sort_values(by ='n' , ascending=False)
df

                     name     type          character    n
year
2007        Harold Pinter    actor        Man on T.V.  3.0
2007             Jude Law    actor               Milo  2.0
2007        Michael Caine    actor             Andrew  1.0
2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [80]:
df = cast.set_index('title').loc['Hamlet']
df = df.set_index('year').loc[1921]
df['character'].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [81]:
df = cast.set_index('title').loc['Hamlet'].set_index('year').loc[1996]
df = df[df['name'] == 'Kenneth Branagh'].sort_values('character').shape[0]
df

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [82]:
df = cast.set_index('character').loc['Hamlet']
df["title"].count()

96

### How many people have played an "Ophelia"?

In [83]:
df = cast.set_index('character').loc['Ophelia']
df["name"].count()

117

### How many people have played a role called "The Dude"?

In [84]:
df = cast.set_index('character').loc['The Dude']
df["name"].count()

19

### How many people have played a role called "The Stranger"?

In [85]:
df = cast.set_index('character').loc['The Stranger']
df["name"].count()

212

### How many roles has Sidney Poitier played throughout his career?

In [86]:
df = cast.set_index('name').loc['Sidney Poitier']
df["character"].count()

43

### How many roles has Judi Dench played?

In [87]:
df = cast.set_index('name').loc['Judi Dench']
df["character"].count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [88]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[2]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1951)]

                title  year   type    character
n
2.0  My Favorite Wife  1940  actor   Nick Arden
2.0    Penny Serenade  1941  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [89]:
df = cast.set_index("name").loc["Cary Grant"]
df = df.set_index("n").loc[1]
res = df.sort_values(by = "year" , ascending = True)
res[(res['year']>1939) & (res['year']<1951)]

,title,year,type,character
n,,,,
1.0,The Howards of Virginia,1940,actor,Matt Howard
1.0,His Girl Friday,1940,actor,Walter Burns
1.0,The Philadelphia Story,1940,actor,C. K. Dexter Haven
1.0,Suspicion,1941,actor,Johnnie Aysgarth
1.0,Once Upon a Honeymoon,1942,actor,Patrick 'Pat' O'Toole
1.0,The Talk of the Town,1942,actor,Leopold Dilg
1.0,Destination Tokyo,1943,actor,Capt. Cassidy
1.0,Mr. Lucky,1943,actor,Joe Adams -posing as Joe Bascopolous
1.0,Once Upon a Time,1944,actor,Jerry Flynn
1.0,None But the Lonely Heart,1944,actor,Ernie Mott
1.0,Arsenic and Old Lace,1944,actor,Mortimer Brewster
1.0,Notorious,1946,actor,Devlin
1.0,Night and Day,1946,actor,Cole Porter
1.0,The Bishop's Wife,1947,actor,Dudley
1.0,The Bachelor and the Bobby-Soxer,1947,actor,Dick Nugent
1.0,Every Girl Should Be Married,1948,actor,Dr. Madison Brown
1.0,Mr. Blandings Builds His Dream House,1948,actor,Jim Blandings
1.0,I Was a Male War Bride,1949,actor,Captain Henri Rochard
1.0,Crisis,1950,actor,Dr. Eugene Norland Ferguson

### How many roles were available for actors in the 1950s?

In [90]:
df = cast.set_index('type').loc["actor"]
df = df[(df["year"] > 1951) & (df["year"]<1961)]
df["n"].value_counts()

1.0      6149
3.0      5161
4.0      5115
5.0      5101
6.0      5009
7.0      4914
8.0      4729
9.0      4386
2.0      4240
10.0     3951
11.0     3530
12.0     3136
13.0     2681
14.0     2302
15.0     2043
16.0     1674
17.0     1435
18.0     1245
19.0      997
20.0      894
21.0      746
22.0      636
23.0      531
24.0      434
25.0      408
26.0      352
27.0      300
28.0      247
29.0      227
30.0      203
         ...
107.0       1
136.0       1
126.0       1
104.0       1
138.0       1
105.0       1
137.0       1
125.0       1
121.0       1
119.0       1
122.0       1
112.0       1
108.0       1
110.0       1
124.0       1
134.0       1
128.0       1
114.0       1
123.0       1
109.0       1
115.0       1
113.0       1
106.0       1
120.0       1
130.0       1
140.0       1
117.0       1
139.0       1
111.0       1
127.0       1
Name: n, Length: 151, dtype: int64

### How many roles were available for actresses in the 1950s?

In [91]:
df = cast.set_index('type').loc["actress"]
df = df[(df["year"] > 1951) & (df["year"]<1961)]
df["n"].value_counts()

2.0      4270
3.0      2940
1.0      2769
4.0      2669
5.0      2400
6.0      2201
7.0      1918
8.0      1698
9.0      1539
10.0     1410
11.0     1273
12.0     1096
13.0      935
14.0      827
15.0      684
16.0      629
17.0      544
18.0      462
19.0      376
20.0      300
21.0      269
22.0      238
23.0      220
24.0      200
25.0      147
27.0      119
26.0      114
28.0      101
30.0       90
29.0       81
         ...
152.0       1
160.0       1
91.0        1
418.0       1
92.0        1
96.0        1
164.0       1
161.0       1
158.0       1
88.0        1
159.0       1
69.0        1
68.0        1
95.0        1
153.0       1
76.0        1
162.0       1
86.0        1
84.0        1
89.0        1
87.0        1
74.0        1
94.0        1
156.0       1
154.0       1
163.0       1
90.0        1
83.0        1
155.0       1
85.0        1
Name: n, Length: 106, dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [92]:
df = cast.set_index('n').loc[1]
mini = df["year"].min()
leading = len(df[(df["year"] >= mini) & (df["year"] <= 1980)])
leading

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [93]:
df = cast.set_index('n')
mini = df["year"].min()
res = len(df[(df["year"] >= mini) & (df["year"] <= 1980)])
res = res - leading
res

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [94]:
df = cast.set_index('year').loc[1980]
df['n'].isnull().sum()

4466