# __Chisquare Test__

In [4]:
import pandas as pd
from scipy.stats import chi2_contingency

In [5]:
dataset=pd.read_csv("general_data.csv")

__H0 = There is no significant difference between MaritalStatus and gender.__



__H1 = There is significant difference between MaritalStatus and gender.__

In [6]:
dataset.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
d = {'Male': 0, 'Female': 1 }
dataset["Gender"]=  dataset["Gender"].map(d).fillna(dataset['Gender'])

In [8]:
d = {'Single': 0, 'Married': 1,'Divorced' : 2}
dataset["MaritalStatus"]=  dataset["MaritalStatus"].map(d).fillna(dataset['MaritalStatus'])

In [13]:
chisquare = pd.crosstab(dataset.Gender,dataset.MaritalStatus)
print(chisquare)

MaritalStatus    0     1    2
Gender
0              858  1173  615
1              552   846  366

In [16]:
stats,p,dof,expected = chi2_contingency(chisquare)
print(stats,p)

6.428867202141822 0.04017808420398627

In [17]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

__from the above we can conclude that. There is no significant difference between MaritalStatus and gender.__

# Kruskal test

In [11]:
from scipy.stats import kruskal

__HO = There is no significance difference between MaritalStatus_Single.JobLevel,MaritalStatus_Married.JobLevel,MaritalStatus_Divorced.JobLevel__


__H1 = There is significance difference between MaritalStatus_Single.JobLevel,MaritalStatus_Married.JobLevel,MaritalStatus_Divorced.JobLevel__

In [9]:
data1=dataset[dataset["MaritalStatus"] == 0]
data2=dataset[dataset["MaritalStatus"] == 1]
data3=dataset[dataset["MaritalStatus"] == 2]

In [12]:
stats,p=kruskal(data1.JobLevel,data2.JobLevel,data3.JobLevel)
print(stats,p)

3.1654785109664862 0.2054116518517896

In [21]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

__from the above we can conclude that. There is no significant difference in YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager.__

# MannWhitney Test

In [13]:
from scipy.stats import mannwhitneyu

In [26]:
data1=dataset[dataset["Attrition"] == 0]
data2=dataset[dataset["Attrition"] == 1]

__HO = There is no significant difference between Attrition_yes.DistanceFromHome and Attrition_No.DistanceFromHome__

__H1 = There is significant difference between Attrition_yes.DistanceFromHome and Attrition_No.DistanceFromHome__

In [25]:
d = {'Yes':1,'No':0}
dataset["Attrition"] = dataset["Attrition"].map(d).fillna(dataset['Attrition'])

In [29]:
stats,p=mannwhitneyu(data1.DistanceFromHome,data2.DistanceFromHome)
print(stats,p)

1312110.0 0.4629185205822659

In [30]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

__from the above we can conclude that. There is no significant difference in DistanceFromHome and Education.__

# FriedManchiSquare Test

In [27]:
from scipy.stats import friedmanchisquare

In [32]:
dataset1=pd.read_excel("general_data.xlsx")
dataset1=dataset1.head(5)
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,IncomeAfter6Months,IncomeAfter1Year
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,141120.0,202157.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,50267.0,75289.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,203476.0,192385.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,90345.0,100342.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,25389.0,30724.0

__H0 = There is no significant difference in IncomeAfter6Months,IncomeAfter1Year and MonthlyIncome.__

__H1 = There is significant difference in IncomeAfter6Months,IncomeAfter1Year and MonthlyIncome.__

In [40]:
stats,p=friedmanchisquare(dataset1.IncomeAfter6Months,dataset1.IncomeAfter1Year,dataset1.MonthlyIncome)
print(stats,p)

5.0 0.0820849986238988

In [41]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

__From the above we can see that There is significant difference in IncomeAfter6Months,IncomeAfter1Year and MonthlyIncome.__

# Wilcoxon Test

In [35]:
from scipy.stats import wilcoxon

__H0 = There is no significant difference in IncomeAfter1Year and MonthlyIncome.__

__H1 = There is significant difference in IncomeAfter1Year and MonthlyIncome.__

In [36]:
dataset1=pd.read_excel("general_data.xlsx")
dataset1=dataset1.head(10)
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,IncomeAfter6Months,IncomeAfter1Year
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,141120.0,202157.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,50267.0,75289.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,203476.0,192385.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,90345.0,100342.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,25389.0,30724.0
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,13,8,0,28.0,5,7,7,7,41890.0,43789.0
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,20,8,1,5.0,2,0,0,0,53789.0,55237.0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,22,8,3,10.0,2,0,0,0,30430.0,31539.0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,21,8,0,10.0,2,9,7,8,21450.0,20437.0
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,13,8,1,6.0,2,6,1,5,144640.0,152674.0

In [45]:
stats,p=wilcoxon(dataset1.IncomeAfter1Year,dataset1.MonthlyIncome)
print(stats,p)

8.0 0.04685328478814715

In [46]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

__From the above we can see that There is no significant difference in IncomeAfter1Year and MonthlyIncome.__

# Sample t-test

In [47]:
 from scipy.stats import ttest_1samp

__H0 = There is no significant difference in mean of employees age and population = 35 __

__H1 = There is significant difference in mean of employees age and population = 35__

In [48]:
status,p=ttest_1samp(dataset.Age,35)
print(stats,p)

8.0 1.5546387777769359e-43

In [49]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

__From the above we can see that There is no significant difference in mean of employees age and population = 35.__

# 2-sampled pair test

In [50]:
from scipy.stats import ttest_rel

__H0 = There is no significant difference in IncomeAfter6Months,IncomeAfter1Year.__

__H1 = There is significant difference in IncomeAfter6Months,IncomeAfter1Year.__

In [52]:
stats,p=ttest_rel(dataset1.IncomeAfter6Months,dataset1.IncomeAfter1Year)
print(stats,p)

-1.6004403621441157 0.14396507471510342

In [53]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

__from the above we can show that There is significant difference in IncomeAfter6Months,IncomeAfter1Year.__

# Two sample independent T-Test

In [68]:
data1=dataset1[dataset1["Attrition"]=="No"]
data2=dataset1[dataset1["Attrition"]=="Yes"]

In [61]:
from scipy.stats import ttest_ind

__HO = There is no significance difference between mean of MonthlyIncome of employees having attrition and no-attrition__

__H1 = There is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition__

In [73]:
stats,p=ttest_ind(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

0.6759165857441934 0.5181520237033914

In [77]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

__from the above we can see that There is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition.__