In [2]:
import pandas as pd

In [3]:
dataset = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name = 1)

In [4]:
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
y = dataset["Personal Loan"] #The dependent variable is admission
x = dataset.drop(['ID','ZIP Code','Personal Loan'],axis = 1) #The independent variable is all these 3.

In [6]:
import statsmodels.api as sm

In [7]:
x1 = sm.add_constant(x)

In [8]:
Logistic = sm.Logit(y,x1)

In [9]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [10]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Thu, 13 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        08:47:29   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
                                        LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

__Here p-values are less than 0.5 all are significantly important for getting personal loan  here const, Income,Family,CCavg,Education,CDAccount,Online,CreditCard__

# Attrition

In [19]:
import pandas as pd
from sklearn import preprocessing

In [12]:
dataset=pd.read_csv("general_data.csv")

In [13]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [20]:
le = preprocessing.LabelEncoder()

In [21]:
dataset["Attrition"] = le.fit_transform(dataset["Attrition"])

In [22]:
dataset["BusinessTravel"] = le.fit_transform(dataset["BusinessTravel"])

In [23]:
dataset["Department"] = le.fit_transform(dataset["Department"])
dataset["EducationField"] = le.fit_transform(dataset["EducationField"])

In [24]:
dataset["Gender"] = le.fit_transform(dataset["Gender"])
dataset["JobRole"] = le.fit_transform(dataset["JobRole"])
dataset["MaritalStatus"] = le.fit_transform(dataset["MaritalStatus"])

In [25]:
dataset = dataset.drop(["EmployeeCount","EmployeeID","Over18","StandardHours"],axis = 1)

In [26]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [27]:
dataset = dataset.dropna()

In [28]:
dataset = dataset.drop_duplicates()

In [29]:
y = dataset.Attrition
x = dataset[['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole','MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked','PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears','TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion','YearsWithCurrManager']]

In [30]:
import statsmodels.api as sm

In [31]:
x1 = sm.add_constant(x) #along with independent variable this is the constant.

In [32]:
Logistic_Attrition = sm.Logit(y,x1)

In [33]:
results = Logistic_Attrition.fit()

Optimization terminated successfully.
         Current function value: 0.392756
         Iterations 7

In [34]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1450
Method:                           MLE   Df Model:                           19
Date:                Thu, 13 Aug 2020   Pseudo R-squ.:                  0.1108
Time:                        08:53:18   Log-Likelihood:                -577.35
converged:                       True   LL-Null:                       -649.29
                                        LLR p-value:                 3.295e-21
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0650      0.717      0.091      0.928      -1.340       1.470
Age                        -0.0306      0.012     -2.583      0.010      -0.054      -0.007
BusinessTravel             -0.0166      0.113     -0.146      0.884      -0.239       0.206
Department                 -0.2421      0.141     -1.720      0.085      -0.518       0.034
DistanceFromHome           -0.0014      0.009     -0.145      0.884      -0.020       0.017
Education                  -0.0625      0.074     -0.847      0.397      -0.207       0.082
EducationField             -0.0965      0.058     -1.669      0.095      -0.210       0.017
Gender                      0.0869      0.155      0.560      0.576      -0.217       0.391
JobLevel                   -0.0249      0.069     -0.363      0.717      -0.159       0.110
JobRole                     0.0378      0.031      1.219      0.223      -0.023       0.099
MaritalStatus               0.5885      0.109      5.379      0.000       0.374       0.803
MonthlyIncome           -1.868e-06   1.66e-06     -1.128      0.259   -5.11e-06    1.38e-06
NumCompaniesWorked          0.1184      0.032      3.729      0.000       0.056       0.181
PercentSalaryHike           0.0117      0.020      0.576      0.565      -0.028       0.052
StockOptionLevel           -0.0645      0.089     -0.721      0.471      -0.240       0.111
TotalWorkingYears          -0.0593      0.021     -2.856      0.004      -0.100      -0.019
TrainingTimesLastYear      -0.1465      0.061     -2.406      0.016      -0.266      -0.027
YearsAtCompany              0.0136      0.032      0.428      0.669      -0.049       0.076
YearsSinceLastPromotion     0.1323      0.035      3.732      0.000       0.063       0.202
YearsWithCurrManager       -0.1396      0.038     -3.642      0.000      -0.215      -0.064
===========================================================================================
"""

__Here p-values are less than 0.5 all are significantly important for getting Attrition  here const, Income,Family,CCavg,Education,CDAccount,Online,CreditCard__